<md-content layout-padding>
<section layout="row" layout-xs="column">
	<md-subheader class="md-primary">
	<h4 class="md-title">REGISTER NEW INSTITUTE</h4>
	</md-subheader>
	<span flex></span>
</section>
<form name="Signin" ng-model="Signin">
	<div id="regFrm" ng-if="!registrationSuccess">
		<div layout layout-sm="column">
			<md-input-container flex> <label>Enter
				Institute Name </label> <input name="instName"
				ng-model="institute.name" ng-required="true">

			<div ng-messages="Signin.instName.$error"
				ng-if="Signin.instName.$submitted || Signin.instName.$touched">
				<div ng-message="required">Please Enter Institute Name.</div>
			</div>
			</md-input-container>
		</div>
		<div layout layout-xs="column">

			<md-input-container
				md-is-error="Signin.adminEmailId.$invalid && (Signin.$submitted || Signin.adminEmailId.$dirty)"
				flex> <label>Admin Email Id </label> <input
				type="email" name="adminEmailId" id="adminEmailId"
				ng-model="userEntity.email_id" ng-pattern="/^.+@.+\..+$/"
				ng-required="true">
			<div>Will be used as admin login username.</div>
			<div ng-messages="Signin.adminEmailId.$error"
				ng-if="Signin.adminEmailId.$submitted || Signin.adminEmailId.$touched">
				<div ng-message="required">Please Enter email Id.</div>
			</div>
			<span class="help-block" style="color: red"
				ng-show="((Signin.adminEmailId.$error.pattern) && Signin.adminEmailId.$dirty) ">
				Enter valid email id</span> </md-input-container>
		</div>
		<div layout layout-sm="column">

			<md-input-container
				md-is-error="Signin.adminFirstName.$invalid && (Signin.$submitted || Signin.adminFirstName.$dirty)"
				flex> <label>First Name </label> <input
				name="adminFirstName" id="adminFirstName"
				ng-model="userEntity.firstName" ng-required="true">
			<div ng-messages="Signin.adminFirstName.$error"
				ng-if="Signin.adminFirstName.$touched">
				<div ng-message="required">Please Enter First Name.</div>
			</div>


			</md-input-container>

			<md-input-container
				md-is-error="Signin.adminLastName.$invalid && (Signin.$submitted || Signin.adminLastName.$dirty)"
				flex> <label>Last Name </label> <input
				id="adminLastName" name="adminLastName"
				ng-model="userEntity.lastName" ng-required="true">

			<div ng-messages="Signin.adminLastName.$error"
				ng-if="Signin.adminLastName.$touched">
				<div ng-message="required">Please Enter Last Name.</div>
			</div>
			</md-input-container>
		</div>

		<section layout="row" layout-xs="column" layout-align="left left">
			<md-button class="md-raised md-primary"
				ng-disabled="Signin.$invalid || actionProcessing.saving"
				ng-click="registerNewInstitute()"
				ng-bind="actionProcessing.saving?actionProcessing.savingButtonText : actionProcessing.saveButtonText">Save</md-button>
		</section>
</md-content>
</div>

<div id="doneMsg" ng-if="registrationSuccess">
	<p>
		Thank you for registration.
	</p>
</div>

</form>
</md-content>